<p id="notice"><%= notice %></p>

<h1>295 ToDoList</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.status %></td>

        <div class="btn-group">
        <td><button type="button" class="btn btn-primary btn-xs"><%= link_to 'Show', task, {style: "color: white"}  %></button></td>
        <td><button type="button" class="btn btn-info btn-xs"><%= link_to 'Edit', edit_task_path(task), {style: "color: white"} %></button></td>
        <td><button type="button" class="btn btn-danger btn-xs"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="tasks/new" class="btn btn-success btn-block">Create</a>
