
<style>
#header {

width: 100%;
height:800px;
background-image: url("http://www.nwicon.com/new-york-night-brooklyn-bridge-180.jpg");
background-repeat: no-repeat;
background-size: 100%;

}
#welcome{
  position:absolute;

  width:800px;
  height:300px;
  top:50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -400px;
}
#message{


  color:white;
  font-family:sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

</style>




<div id="header">
</div>
<div id="welcome">
<p id="message">
  SMART MIRROR
</p>
</div>

<p id="notice"><%= notice %></p>





<table class="table table-striped">
  <thead>
    <tr>
      <th>Tasks</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><h3><%= task.name %></h3></td>
        <td><%= task.status %></td>

        <div class="btn-group">
        <!-- <td><button type="button" class="btn btn-primary btn-xs"><%= link_to 'Show', task, {style: "color: white"}  %></button></td> -->
        <td><button type="button" class="btn btn-info btn-xs"><%= link_to 'Edit', edit_task_path(task), {style: "color: white"} %></button></td>
        <td><button type="button" class="btn btn-danger disabled btn-xs"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="tasks/new" class="btn btn-success btn-ln">Create</a>
